<div class="heading" id="snippets">
  <h2>code snippets</h2>
</div>

<div class="section" id="snippets-list">
    <div class="col">
        <p>code snippets规范列表，同时提供sublime插件<a href="https://github.com/imweb/sublime-js-snippets" target="_blank">Javascript Snippets for IMWeb</a>支持这些snippets。</p>
        <p>说明：</p>
        <p>[快捷代码] 解释</p>
        <p>snippets的内容，其中占位符语法：${序号:默认值}</p>
        <ul>
            <li>
                <h4>[cd] console.dir</h4>
                <p>
                    {% highlight javascript %}console.dir(${1:obj});{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[mi] new Image</h4>
                <p>
                    {% highlight javascript %}new Image().src = '/${1}';{% endhighlight %}
                </p>
            </li>
        </ul>
    </div>
</div>