<div class="heading" id="snippets">
  <h2>code snippets</h2>
</div>

<div class="section" id="snippets-list">
    <div class="col">
        <p>code snippets规范列表，同时提供sublime插件<a href="https://github.com/imweb/sublime-js-snippets" target="_blank">Javascript Snippets for IMWeb</a>支持这些snippets，可以通过<a href="https://packagecontrol.io/" target="_blank">Package Control</a>安装。</p>
        <blockquote>
            <p>说明：</p>
            <p>[快捷代码] 描述</p>
            <p>snippets的内容，其中占位符语法：${序号:默认值}</p>
        </blockquote>
        <h3>Console</h3>
        <ul>
            <li>
                <h4><code>[cd] console.dir</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/console-dir.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[cl] console.log</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/console-log.js %}{% endhighlight %}
                </p>
            </li>
        </ul>
        <h3>EJS</h3>
        <ul>
            <li>
                <h4><code>[=fo] &lt;% for %&gt;</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/ejs-for.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[=if] &lt;% if %&gt;</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/ejs-if.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[=] &lt;%= %&gt;</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/ejs-insert.js %}{% endhighlight %}
                </p>
            </li>
        </ul>
        <h3>For</h3>
        <ul>
            <li>
                <h4><code>[fe] forEach</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/for-forEach.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[fi] for in</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/for-forIn.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[fo] for</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/for-native.js %}{% endhighlight %}
                </p>
            </li>
        </ul>
        <h3>Function</h3>
        <ul>
            <li>
                <h4><code>[fn] function</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/function.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[afn] anonymous function</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/function-anonymous.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[apply] apply</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/function-apply.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[call] call</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/function-call.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[iif] immediately-invoked function expression</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/function-iif.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[ofn] function as a property of an object</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/function-property.js %}{% endhighlight %}
                </p>
            </li>
        </ul>
        <h3>If</h3>
        <ul>
            <li>
                <h4><code>[ife] if else</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/if-ifElse.js %}{% endhighlight %}
                </p>
            </li>
        </ul>
        <h3>Jquery</h3>
        <ul>
            <li>
                <h4><code>[jvt] get &#36;this</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-getThis.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[jve] get jquery element</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-getEle.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[jvd] get data</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-getData.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[jext] &#36;.extend</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-extend.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[jat] &#36;.attr</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-attr.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[jcss] &#36;.css</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-css.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[jwi] &#36;.width</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-width.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[jhe] &#36;.height</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-height.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[jsh] &#36;.show</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-show.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[jhi] &#36;.hide</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-hide.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[jac] &#36;.addClass</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-addClass.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[jrc] &#36;.removeClass</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-removeClass.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[jon] &#36;.on</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-on.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[jtri] &#36;.trigger</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-trigger.js %}{% endhighlight %}
                </p>
            </li>
        </ul>
        <h3>MISC</h3>
        <ul>
            <li>
                <h4><code>[vs] save context</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/misc-saveContext.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[al] alert</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/misc-alert.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[de] debugger</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/misc-debugger.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[ret] return</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/misc-return.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[ni] new Image</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/misc-newImage.js %}{% endhighlight %}
                </p>
            </li>
        </ul>
        <h3>Node</h3>
        <ul>
            <li>
                <h4><code>[re] require</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/node-require.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[rea] require.async</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/node-requireAsync.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[me] module.exports</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/node-moduleExports.js %}{% endhighlight %}
                </p>
            </li>
        </ul>
        <h3>Timer</h3>
        <ul>
            <li>
                <h4><code>[st] setTimeout</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/timer-setTimeout.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4><code>[si] setInterval</code></h4>
                <p>
                    {% highlight javascript %}{% include snippets/timer-setInterval.js %}{% endhighlight %}
                </p>
            </li>
        </ul>
    </div>
</div>
