<div class="heading" id="snippets">
  <h2>code snippets</h2>
</div>

<div class="section" id="snippets-list">
    <div class="col">
        <p>code snippets规范列表，同时提供sublime插件<a href="https://github.com/imweb/sublime-js-snippets" target="_blank">Javascript Snippets for IMWeb</a>支持这些snippets，可以通过<a href="https://packagecontrol.io/" target="_blank">Package Control</a>安装。</p>
        <blockquote>
            <p>说明：</p>
            <p>[快捷代码] 描述</p>
            <p>snippets的内容，其中占位符语法：${序号:默认值}</p>
        </blockquote>
        <h3>Console</h3>
        <ul>
            <li>
                <h4>[cd] console.dir</h4>
                <p>
                    {% highlight javascript %}{% include snippets/console-dir.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[cl] console.log</h4>
                <p>
                    {% highlight javascript %}{% include snippets/console-log.js %}{% endhighlight %}
                </p>
            </li>
        </ul>
        <h3>EJS</h3>
        <ul>
            <li>
                <h4>[=fo] &lt;% for %&gt;</h4>
                <p>
                    {% highlight javascript %}{% include snippets/ejs-for.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[=if] &lt;% if %&gt;</h4>
                <p>
                    {% highlight javascript %}{% include snippets/ejs-if.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[=] &lt;%= %&gt;</h4>
                <p>
                    {% highlight javascript %}{% include snippets/ejs-insert.js %}{% endhighlight %}
                </p>
            </li>
        </ul>
        <h3>For</h3>
        <ul>
            <li>
                <h4>[fe] forEach</h4>
                <p>
                    {% highlight javascript %}{% include snippets/for-forEach.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[fi] for...in</h4>
                <p>
                    {% highlight javascript %}{% include snippets/for-forIn.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[fo] for</h4>
                <p>
                    {% highlight javascript %}{% include snippets/for-native.js %}{% endhighlight %}
                </p>
            </li>
        </ul>
        <h3>Function</h3>
        <ul>
            <li>
                <h4>[fn] function</h4>
                <p>
                    {% highlight javascript %}{% include snippets/function.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[afn] anonymous function</h4>
                <p>
                    {% highlight javascript %}{% include snippets/function-anonymous.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[apply] apply</h4>
                <p>
                    {% highlight javascript %}{% include snippets/function-apply.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[call] call</h4>
                <p>
                    {% highlight javascript %}{% include snippets/function-call.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[iif] immediately-invoked function expression</h4>
                <p>
                    {% highlight javascript %}{% include snippets/function-iif.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[ofn] function as a property of an object</h4>
                <p>
                    {% highlight javascript %}{% include snippets/function-property.js %}{% endhighlight %}
                </p>
            </li>
        </ul>
        <h3>If</h3>
        <ul>
            <li>
                <h4>[ife] if...else</h4>
                <p>
                    {% highlight javascript %}{% include snippets/if-ifElse.js %}{% endhighlight %}
                </p>
            </li>
        </ul>
        <h3>Jquery</h3>
        <ul>
            <li>
                <h4>[jvt] get &#36;this</h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-getThis.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[jve] get jquery element</h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-getEle.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[jvd] get data</h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-getData.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[jext] &#36;.extend</h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-extend.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[jat] &#36;.attr</h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-attr.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[jcss] &#36;.css</h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-css.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[jwi] &#36;.width</h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-width.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[jhe] &#36;.height</h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-height.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[jsh] &#36;.show</h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-show.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[jhi] &#36;.hide</h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-hide.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[jac] &#36;.addClass</h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-addClass.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[jrc] &#36;.removeClass</h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-removeClass.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[jon] &#36;.on</h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-on.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[jtri] &#36;.trigger</h4>
                <p>
                    {% highlight javascript %}{% include snippets/jquery-trigger.js %}{% endhighlight %}
                </p>
            </li>
        </ul>
        <h3>MISC</h3>
        <ul>
            <li>
                <h4>[vs] save context</h4>
                <p>
                    {% highlight javascript %}{% include snippets/misc-saveContext.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[al] alert</h4>
                <p>
                    {% highlight javascript %}{% include snippets/misc-alert.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[de] debugger</h4>
                <p>
                    {% highlight javascript %}{% include snippets/misc-debugger.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[ret] return</h4>
                <p>
                    {% highlight javascript %}{% include snippets/misc-return.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[ni] new Image</h4>
                <p>
                    {% highlight javascript %}{% include snippets/misc-newImage.js %}{% endhighlight %}
                </p>
            </li>
        </ul>
        <h3>Node</h3>
        <ul>
            <li>
                <h4>[re] require</h4>
                <p>
                    {% highlight javascript %}{% include snippets/node-require.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[rea] require.async</h4>
                <p>
                    {% highlight javascript %}{% include snippets/node-requireAsync.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[me] module.exports</h4>
                <p>
                    {% highlight javascript %}{% include snippets/node-moduleExports.js %}{% endhighlight %}
                </p>
            </li>
        </ul>
        <h3>Timer</h3>
        <ul>
            <li>
                <h4>[st] setTimeout</h4>
                <p>
                    {% highlight javascript %}{% include snippets/timer-setTimeout.js %}{% endhighlight %}
                </p>
            </li>
            <li>
                <h4>[si] setInterval</h4>
                <p>
                    {% highlight javascript %}{% include snippets/timer-setInterval.js %}{% endhighlight %}
                </p>
            </li>
        </ul>
    </div>
</div>